# - ./db/my.cnf:/etc/mysql/conf.d/my.cnf:ro

[mysqld]
# Memory / Buffer settings
innodb_buffer_pool_size = 512M
innodb_log_buffer_size = 64M
max_connections = 100

# Logging
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 0.5

# General performance
query_cache_type = 1
query_cache_size = 64M
tmp_table_size = 64M
max_heap_table_size = 64M

# Housekeeping
event_scheduler = ON

# Other
max_allowed_packet = 64M
innodb_flush_log_at_trx_commit = 2
sync_binlog = 0
